<div class="row" *ngIf="active">
<div class="col-lg-6">
<div class="container">
  <div class="row">
    <div class="card-group">
    <div class="col-sm-6">
      <div class="card p-3 mb-5 rounded text-center" [ngClass]="{'bg-light': !hover1, 'bg-primary': hover1, 'text-white': hover1}" (click)="set_mode(5)" style = "cursor:pointer" (mouseenter)="hover1 = true" (mouseleave)="hover1 = false">
        <img class="card-img" src="assets/imagetest.JPG" alt="Card image cap">
            <div class="card-img-overlay"><!--<div class="card-body">-->
          <h5 class="card-title display-4">Macro Fit</h5>
          <p class="card-text"></p>
          <!--<button href="#" (click)="set_mode(5)" class="btn btn-primary">See More</button>-->
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card p-3 mb-5 rounded text-center">
        <div class="card-body">
          <h5 class="card-title display-4">Roller Ball</h5>
          <h5 class="card-title display-4">Cell Game</h5>
          <p class="card-text"></p>
          <button href="#" (click)="set_mode(6)" class="btn btn-primary">See More</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card p-3 mb-5 rounded text-center">
        <div class="card-body">
          <h5 class="card-title display-4">Otto</h5>
          <p class="card-text"></p>
          <button href="#" (click)="set_mode(7)" class="btn btn-primary">See More</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card p-3 mb-5 rounded text-center">
        <div class="card-body">
          <h5 class="card-title display-4">Bubble Buster</h5>
          <p class="card-text"></p>
          <button href="#" (click)="set_mode(8)" class="btn btn-primary">See More</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card p-3 mb-5 rounded text-center">
        <div class="card-body">
          <h5 class="card-title display-4">Continuos Art</h5>
          <p class="card-text"></p>
          <button href="#" (click)="set_mode(2)" class="btn btn-primary">See Art</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>
