.resume-1 {
    padding-left: 10px;
}

.resume-2 {
	padding-top: 10px;
    padding-left: 10px;

    margin-left: 10px;
    margin-top: 10px;
}

.resume-3 {
	padding-top: 10px;
    padding-left: 10px;
}

.resume-4 {
    padding-left: 40px;
}

.resume-5 {
    padding-left: 50px;
}