<div class="container" *ngIf="active">
  <div class="card">
    <p class="card-text">
      Kurt Shreckengast
    </p>
    <h2 class="display-4">
      Software Engineer
    </h2>
      <div class="card">
        <h3 class="card-text">
          Work History
        </h3>
        <div class="card">
          <h4>
            Textron
          </h4>
          <p>
            some text
          </p>
        </div>
        <div class="card">
          <h4>
            Most Access
          </h4>
          <p>
            some text
          </p>
        </div>
        <div class="card">
          <h4>
            Programming Tutor
          </h4>
          <p>
            some text
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card">
          <h3>
            Education
          </h3>
          <div class="card">
            <h4>
              Hardin-Simmons University
            </h4>
            <p>
              some text
            </p>
          </div>
          <div class="card">
            <h4>
              Southern Methodist University
            </h4>
            <p>
              some text
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <p>
          references available on request
        </p>
      </div>
  </div>
</div>