<div class="container" *ngIf="active">
  <div class="card">
    <h5 class="card-text resume-1">
      Kurt Shreckengast
    </h5>
    <h2 class="display-4 resume-1">
      Software Engineer
    </h2>
      <div class="card resume-2">
        <h5 class="card-text">
          Work History
        </h5>
        <div class="card resume-3">
          <h4>
            TRU Simulation and Training / Textron
          </h4>
          <p>Software Engineer   <i>Abilene TX, December 2013 - Present</i></p>
          <ul>
            <li class="work-li">Collaborate with fellow systems engineers to conduct feasibility studies and aid in requirements development</li>
            <li class="work-li">Investigate and report on potential bugs through systems testing and code inspection</li>
            <li class="work-li">Create and present software designs to both peer staff members and the customer</li>
            <li class="work-li">Implement designs in code</li>
            <li class="work-li">Code in ADA, C++, C,  C#, Fortran, and Javascript</li>
            <li class="work-li">Monitoring cyber security standards through all phases of the software process</li>
            <li class="work-li">Utilize Configuration Management system</li>
            <li class="work-li">Completion of Quality Control collegial reviews on peer software engineers projects</li>
            <li class="work-li">Test software in development environments and  trainer hardware when needed</li>
            <li class="work-li">Create test plans for use by other engineers and lead software engineer</li>
          </ul>
        </div>
        <br/>
        <div class="card resume-3">
          <h4>
            Most Access
          </h4>
          <p>Web Developer   <i>Abilene TX, May 2012 - August 2014</i></p>
          <ul>
            <li class="work-li">Operate on a development in server from unix command line using SSH connection</li>
            <li class="work-li">Work within Codeigniter CMS using MVC framework</li>
            <li class="work-li">Utilize Javascript, JQuery, PHP, and Ajax functions to create dynamic content</li>
            <li class="work-li">Write SQL to query PostgreSQL database</li>
            <li class="work-li">Employ Mercurial version control software</li>
          </ul>
        </div>
        <br/>
        <div class="card resume-3">
          <h4>
            Hardin-Simmons University
          </h4>
          <p>Programming Tutor   <i>Abilene TX, August 2010 - May 2011</i></p>
          <ul>
            <li class="work-li">Solid understanding of programming concepts and the Java language required to help students</li>
            <li class="work-li">Teaching skills required to aid students without doing the work for them</li>
          </ul>
        </div>
        <br/>
      </div>
      <div class="card resume-2">
      <h3>
        Languages and Technologies Used
      </h3>
        <ul>
          <li class="work-li">Java, C++, C, ADA, Fortran, Visual Basic, Visual C++, HTML, CSS, Javascript, PHP, SQL, Python, Swift, C#, XML</li>
          <li class="work-li">Mercurial, Codeigniter (MVC Framework), JQuery, MySQL, PostgreSQL, Eclipse, Razor, GLStudio, Unity, GIT, Angular, Node.js, MongoDB, Vue.js</li>
          <li class="work-li">Linux server administration</li>
          <li class="work-li">Linux command-line (unix), Windows command-line (dos)</li>
          <li class="work-li">Adobe Photoshop, Adobe Illustrator, Adobe Dreamweaver, Adobe Indesign, Corel Painter, Inkscape, GIMP</li>
        </ul>
      </div>
      <div class="card resume-2">
      <h3>
        Education
      </h3>
        <div class="card resume-3">
          <h4>
            Hardin-Simmons University
          </h4>
          <p>B.B.S. Computer Science, B.B.S. Graphic Design, Honors Program Minor</p>
          <p>Double Major</p>
          <p>GPA 3.565</p>
          <p>Cum Laude</p>
          <p>UNDERGRADUATE COMPUTER SCIENCE COURSEWORK</p>
          <ul>
            <li class="work-li">Program Design and Development 1</li>
            <li class="work-li">Program Design and Development 2</li>
            <li class="work-li">Computer Data Structures</li>
            <li class="work-li">Database Systems</li>
            <li class="work-li">Operating Systems</li>
            <li class="work-li">Assembly Language</li>
            <li class="work-li">Networking</li>
            <li class="work-li">Graphical User Interface</li>
            <li class="work-li">Artificial Intelligence</li>
            <li class="work-li">Information Systems Analysis and Design</li>
            <li class="work-li">Web Technologies 1</li>
            <li class="work-li">Web Technologies 2</li>
            <li class="work-li">Web Technologies 3</li>
            <li class="work-li">Senior Project</li>
          </ul>
          <p>SCHOLARSHIPS</p>
          <ul>
            <li class="work-li">President's Scholarship</li>
            <li class="work-li">Birdwell Business Scholarship</li>
            <li class="work-li">Weatherby Business Scholarship</li>
            <li class="work-li">Honors Tuition Scholarship</li>
            <li class="work-li">Taylor Art Scholarship</li>
            <li class="work-li">Computer Science Alumni Endowed Scholarship</li>
          </ul>
          <p>AWARDS</p>
          <ul>
            <li class="work-li">Intercollegiate Student Art Competition Second Place 3-D Category - 2014</li>
            <li class="work-li">The Kelly College of Business Outstanding Computer Science Student Award - 2013</li>
            <li class="work-li">Adobe Design Awards Semi Finalist - 2013</li>
            <li class="work-li">Hardin-Simmons University President's List - 2010, 2011</li>
            <li class="work-li">Candidate for Who’s Who in American Universities and Colleges</li>
            <li class="work-li">Honors Program Graduate</li>
          </ul>
        </div>
        <br/>
        <div class="card resume-3">
          <h4>
            Southern Methodist University
          </h4>
          <p>Masters of Science with a Major in Software Engineering</p>
          <p>21 of 30 Credits Completed Towards Software Engineering Masters Current GPA 3.71</p>
          <ul>
            <li class="work-li">Software Testing and Quality Assurance</li>
            <li class="work-li">Software Architecture and Design</li>
            <li class="work-li">Software Requirements</li>
            <li class="work-li">Advanced Application Programming</li>
            <li class="work-li">Software Project Planning and Management</li>
            <li class="work-li">XML and The Enterprise</li>
            <li class="work-li">Artificial Intelligence</li>
          </ul>
        </div>
        <br/>
      </div>
      <br/>
      <!--<div class="card resume-2">-->
        <h5 class="card-text resume-1">
          references available on request
        </h5>
      <!--</div>-->
      <br/>
  </div>
  <br/>
</div>