<div>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" (click)="set_mode(0)" style = "cursor:pointer">Kurt Shreckengast</a>
    <form class="form-inline">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Contact</button>
    </form>
  </nav>
  <br/>
  <div class="container">

    <div class="row">
      <div class="col-lg-6">
          <h1 class="text-center" ><!--style="font-family: 'Gloria Hallelujah', cursive;">-->
            
          </h1>
      </div>
    </div>

    <app-main-page [active]=mode[0] (modeEvent)="set_mode($event)"></app-main-page>
    <app-projects-page [active]=mode[1] (modeEvent)="set_mode($event)"></app-projects-page>
    <app-art-page [active]=mode[2] (modeEvent)="set_mode($event)"></app-art-page>
    <app-about-page [active]=mode[4] (modeEvent)="set_mode($event)"></app-about-page>
    <app-resume-page [active]=mode[3] (modeEvent)="set_mode($event)"></app-resume-page>
    
    <app-project-page [active]=mode[5] (modeEvent)="set_mode($event)"></app-project-page>
    <app-project-page [active]=mode[6] (modeEvent)="set_mode($event)"></app-project-page>
    <app-project-page [active]=mode[7] (modeEvent)="set_mode($event)"></app-project-page>
    <app-project-page [active]=mode[8] (modeEvent)="set_mode($event)"></app-project-page>

    <!--<div class="col-lg-6">-->
    <div class="card mx-5 bg-light rounded text-center">
      <div class="card-body">
        <p class="text-center card-text" style="font-size: 80%"><!--style="font-family: 'Gloria Hallelujah', cursive;">-->
        Last of the freelance hackers
      <br>
        Greatest sword fighter in the world
      <br>
        Stringer, Central Intelligence Corporation
      <br>
        Specializing in software-related intel
      <br>
        (music, movies & microcode)
      </p>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-6">
          <h1 class="text-center" ><!--style="font-family: 'Gloria Hallelujah', cursive;">-->
            
          </h1>
      </div>
    </div>

  </div>

</div>



