<div>

  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">KS</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>

  <div class="container">

    <div class="row">
      <div class="col-lg-6">
          <h1 class="text-center" ><!--style="font-family: 'Gloria Hallelujah', cursive;">-->
            
          </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="card-group">
        <div class="col-sm-6">
          <div class="card shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">
              <h5 class="card-title">Projects</h5>
              <p class="card-text">My working projects</p>
              <a href="#" class="btn btn-primary">See Projects</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">
              <h5 class="card-title">Art</h5>
              <p class="card-text">My Art</p>
              <a href="#" class="btn btn-primary">See Art</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">
              <h5 class="card-title">Resume</h5>
              <p class="card-text">My informal resume</p>
              <a href="#" class="btn btn-primary">See Resume</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">
              <h5 class="card-title">About</h5>
              <p class="card-text">About Me</p>
              <a href="#" class="btn btn-primary">See About</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">
              <h5 class="card-title">My Github</h5>
              <p class="card-text">A link to my github</p>
              <a href="#" class="btn btn-primary">See Github</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card shadow p-3 mb-5 bg-white rounded text-center">
            <div class="card-body">
              <h5 class="card-title">My Instagram</h5>
              <p class="card-text">My instagram account</p>
              <a href="#" class="btn btn-primary">See Instagram</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <!--<div class="col-lg-6">-->
    <div class="card shadow mx-5 bg-white rounded text-center d-flex">
      <div class="card-body">
        <p class="text-center card-text" style="font-size: 80%"><!--style="font-family: 'Gloria Hallelujah', cursive;">-->
        Last of the freelance hackers
      <br>
        Greatest sword fighter in the world
      <br>
        Stringer, Central Intelligence Corporation
      <br>
        Specializing in software-related intel
      <br>
        (music, movies & microcode)
      </p>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-6">
          <h1 class="text-center" ><!--style="font-family: 'Gloria Hallelujah', cursive;">-->
            
          </h1>
      </div>
    </div>

  </div>

</div>



